


header{
        background-color: #3d3c3c;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 1rem 1rem;
        gap: 20px;
        
    }
 
form{
    display: flex;
    align-items: center;
    background: #3d3c3c;
    border-radius: 10px; 
    max-width: 750px;    
    justify-self: stretch;
    width: 100%;
}

.form-buscar {
    flex: 1;                
    padding: 15px;
    border: 2px solid rgb(118, 189, 112);
    background: transparent;
    font-size: 16px;
    border-radius: 10px;
    width: 600px;
    color: white;
    

}

.buscar-boton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: rgb(118, 189, 112);
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: start;
    margin-left: 370px;
}

.logo-imagen{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}


.texto-logo{
        color: rgb(118, 189, 112);
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        display: flex;
        flex-direction: column;
        font-size: 30px;
}

.linea1 , .linea2{
    line-height: 1;

}

.header-botones {
    
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-self: end;
}
    
.cart-boton, .login-boton {
    background-color: transparent;
    color:rgb(118, 189, 112);

}



main{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    min-height: 80vh;      
    padding: 0.5rem;



}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    list-style: none;
    margin-top: 18px;
    padding: 0 0 2rem 0;

}

.boton-nosotros,
.boton-presupuesto,
.boton-producto,
.boton-ayuda{
    background: transparent;
    color: rgb(118, 189, 112);
    border: 2px solid rgb(118, 189, 112);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.3s ease;
}


.boton-producto:hover,
.boton-nosotros:hover,
.boton-presupuesto:hover,
.boton-ayuda:hover {
    background: rgb(118, 189, 112);
    color: #3d3c3c;
    transform: translateY(-2px);
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

main section img{
    max-width: 1400px;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: auto;
    object-fit: cover;
    width: 100%;
}


.seccion-info{


    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;

}




